@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.eot');
    src: url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLight.woff') format('woff'),
        url('../fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('../fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppis';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
:root
{
	--colorDeepBlue:#083791;
	--colorWhite:#ffffff;
	--colorOrange:#ff5e14;
	--colorGray:#605b72;
	--colorBlack:#000000;
	--colorLOrange:#ff5e148c;
	--colorLgray:#efeaea;
	--colorVLOrange:#ff5e143b;
	--colorLWhite:#ffffffdb;
	--colorLBlack:#0000006b;
	--colorLBlue:#1e1effb5;
	--colorDOrange:#ff5e14c4;
	--colorDBlue:#0c2239;
	--colorLWhite:#ffffff91;
	--colorHWhite:#ffffffcc;
}
*
{
	padding:0px;
	margin:0px;
}
.Main-container
{
    font-family: 'Poppins';
	width:1380px;
	margin:0px auto;
}
.fclear
{
	clear:both;
}
/*........Head......*/
.head-nav
{
	background:var(--colorDeepBlue);
	padding:20px;
}
.head-nav img
{
	padding-left:20px;
}
.nav-list
{
	float:right;
	margin-top:20px;
	margin-right:30px;
}
.nav-list a
{
	color:var(--colorWhite);
	text-decoration:none;
	font-size: 20px;
	font-weight:bold;
	padding:10px 10px;
	transition:1s;
}
.nav-list a:hover
{
	background:var(--colorOrange);
	border-radius:7PX;
	transition:1s;
}
.head-container
{
	background:url('../Images/contact.jpg') no-repeat -110px 0px/ 108% ;
	width:100%;
	height:870px;
}
.icon
{
	float:right;
	margin-right:20px;
	margin-top: 100px;
}
.icon i
{
	font-size:20px;
	padding:10px 10px 10px 13px;
	color:var(--colorWhite);
}
.icon div
{
	width:40px;
	height:40px;
	background:var(--colorOrange);
	border-radius:50%;
	margin-bottom:10px;
	transition:1s;
}
.icon div:hover
{
	background:var(--colorDeepBlue);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}
.head-container1
{
	float:right;
	text-align:right;
	color:var(--colorWhite);
	width: 53%;
	margin-top: 250px;
	text-shadow: 0px 0px 2px var(--colorBlack);
    margin-right: 80px;
}
.head-container1 h3
{
    font-size:25px;
	display:inline;
	font-family: 'Poppis';
}
.head-container1 h2
{
    font-size:70px;
	font-family: 'Poppis';
}
.content1-1
{
	color:var(--colorOrange);
}
.head-container1 p
{
	font-weight:bold;
	font-size:20px;
	margin-bottom:50px;
}
.head-container1 a
{
	text-decoration:none;
	background:var(--colorOrange);
	font-weight:bold;
	border-radius:8px;
	color:var(--colorWhite);
	font-size:20px;
	padding:15px 25px ;
	transition:1s;
}
.head-container1 a:hover
{
	background:var(--colorDeepBlue);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}
/*.......Body........*/
/*.......container1........*/

.Body-container1-1
{
	float:right;
	width:48%;
	margin-right:80px;
}
.Body-container1
{
	padding-top:80px;
}
.Body-img1
{
	width:40%;
	margin-left:80px;
}
.content1-0 
{
	color:var(--colorDeepBlue);
}
.Body-container1-1 h2
{
	font-size:40px;
	font-family: 'Poppis';
	color:var(--colorDeepBlue);
}
.Body-container1-1 h3
{
	font-size:23px;
	font-family: 'Poppis';
	display:inline;
}
.Body-container1-1 p
{
	font-size:20px;
	font-weight:bold;
	margin-top:20px;
	color:var(--colorGray);
	line-height:35px;
}
.Body-container1-1 ul
{
	font-size:20px;
	font-weight:bold;
	margin-top:40px;
	list-style-image: url('../Images/li.png');
	list-style-position:inside;
	margin-bottom:45px;
	color:var(--colorGray);
}
.content1-2
{
	color:var(--colorOrange);
}
.Body-container1-1 ul li
{
	margin-top:15px;
}
.Body-container1-1  a
{
	text-decoration:none;
	background:var(--colorOrange);
	font-weight:bold;
	border-radius:8px;
	color:var(--colorWhite);
	font-size:20px;
	padding:15px 25px ;
	transition:1s;
}
.Body-container1-1  a:hover
{
	background:var(--colorDeepBlue);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}
.Body-container1-2
{
	padding-left:80px;
	margin-top:40px;
}
.Body-container1-2-1
{
	text-align:center;
	width:400px;
	float:left;
	margin-right:20px;
}
.Body-container1-2-1 img
{	
	width:100px;
}
.Body-container1-2-1 h2
{
	font-family: 'Poppis';
	color:var(--colorDeepBlue);
	margin-top:20px;
	margin-bottom:10px;
}
.Body-container1-2-1 p
{
	color:var(--colorGray);
	line-height:35px;
	font-weight:bold;
	margin-bottom:30px;
}
.Body-container1-2-1:hover
{
	border-radius:5px;
	box-shadow: 0px 0px 10px var(--colorGray);
	transition:1s;
}
/*.......container2........*/
.Body-container2
{
	margin-top:80px;
	background:var(--colorOrange);
	padding:90px 0px;
}
.Body-container2-1
{
	color:var(--colorWhite);
	font-family: 'Poppis';
	margin-left:150px;
	float:left;
}
.Body-container2-1 h2
{
	font-size:50px;
}
/*.......container3........*/
.Body-container3-1
{
	text-align:center;
	width:70%;
	margin: 70px 200px 0px 200px;
}
.Body-container3-1 h3
{
	color:var(--colorOrange);
	font-family: 'Poppis';
	font-size:20px;
	text-transform:uppercase;
}
.Body-container3-1 h2
{
	color:var(--colorDeepBlue);
	font-family: 'Poppis';
	font-size:35px;
}
.Body-container3-1 p
{
	color:var(--colorGray);
}
.Body-container3-2-1
{
	margin-left:150px;
}
.Body-container3-2-1-1
{
	float:left;
	text-align:center;
	font-family: 'Poppis';
	width:25%;
	padding:15px;
	min-height: 317px;
	padding-bottom:40px;
	margin-right:30px;
	margin-top:30px;
	box-shadow: 0px 0px 4px var(--colorGray);
}
.Body-container3-2-1-1 img
{
	width:90px;
}
.Body-container3-2-1-1 h2
{
	font-weight:bold;
	color:var(--colorDeepBlue);
	margin-top:10px;
}
.Body-container3-2-1-1 p
{
	color:var(--colorGray);
	font-size:15px;
	line-height:25px;
	margin:10px 0px 40px 0px ;
}
.Body-container3-2-1-1 a
{
	color:var(--colorWhite);
	text-decoration:none;
	padding:10px 20px;
	border-radius:5px;
	background:var(--colorOrange);
	transition:1s;
}
.Body-container3-2-1-1 a:hover
{
	background:var(--colorDeepBlue);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}
/*.......container4........*/
.Body-container4
{
	height:370px;
	background:url('../Images/video-1.jpg') no-repeat 0px -80px /100%;
	margin-top:100px;
}
.Body-container4-1
{
	background-color:var(--colorLOrange);
	width:100%;
	height:100%;
}
.Body-container4-2
{
	padding-top: 110px;
    padding-left: 210px;
}
.Body-container4-1-1
{
	background-color:var(--colorOrange);
	float:left;
	color:var(--colorWhite);
	text-align:center;
	padding:40px;
	width:100px;
}
.Body-container4-1 p
{
	float:left;
	color:var(--colorWhite);
	font-family: 'Poppis';
	font-size:70px;
    margin: 34px 25px;
}
.Body-container4-1-1 h2
{
	font-size:50px;
}
.Body-container4-1-1 h3
{
	font-size:15px;
}
/*.......container5........*/
.Body-container5-1-1
{
	margin-left:25%;
	margin-top:40px;
	margin-bottom: 50px;
}
.Body-container5-1-1 li
{
	float:left;
	margin-right:15px;
	list-style:none;
	font-weight:bold;
	border:1px solid var(--colorLgray);
	border-radius:5px;
	color:var(--colorGray);
	padding:5px 20px;
	font-size:15px;
	transition:1s;
}
.Body-container5-1-1 li:hover
{
	color:var(--colorWhite);
	background:var(--colorOrange);
	border:1px solid var(--colorOrange);
	transition:1s;
}
.Body-container5-2
{
	margin-top:30px;
	margin-left:10%;
}
.c1
{
	background:url('../Images/b1-1-560x550.jpg') no-repeat 0px 0px /101%;
}
.c2
{
	background:url('../Images/b2-1-560x550.jpg') no-repeat 0px 0px /101%;
}
.c3
{
	background:url('../Images/b3-1-560x550.jpg') no-repeat 0px 0px /101%;
}
.Body-container5-2-1
{
	width:345px;
	height:340px;
	float:left;
	margin-right:30px;
	color:var(--colorWhite);
}
.Body-container5-2-2
{
	text-align:center;
	padding-top:40%;
	background:var(--colorLOrange);
	height:202px;
	opacity:0%;
}
.Body-container5-2-2 h2
{
	font-size:25px;
	font-family: 'Poppis';
	margin-top:10px;
}
.Body-container5-2-2 h3
{
	font-size:20px;
	font-weight:bold;
}
.Body-container5-2-2 i
{
	font-size:25px;
	background:var(--colorOrange);
	padding:10px;
	border-radius:5px;
}
.c1:hover .Body-container5-2-2
{
	opacity:100%;
	transition:1s;
}
.Body-container5-2-3
{
	text-align:center;
	padding-top:40%;
	background:var(--colorLOrange);
	height:202px;
	opacity:0%;
}
.Body-container5-2-3 h2
{
	font-size:25px;
	font-family: 'Poppis';
	margin-top:10px;
}
.Body-container5-2-3 h3
{
	font-size:20px;
	font-weight:bold;
}
.Body-container5-2-3 i
{
	font-size:25px;
	background:var(--colorOrange);
	padding:10px;
	border-radius:5px;
}
.c2:hover .Body-container5-2-3
{
	opacity:100%;
	transition:1s;
}
.Body-container5-2-4
{
	text-align:center;
	padding-top:40%;
	background:var(--colorLOrange);
	height:202px;
	opacity:0%;
}
.Body-container5-2-4 h2
{
	font-size:25px;
	font-family: 'Poppis';
	margin-top:10px;
}
.Body-container5-2-4 h3
{
	font-size:20px;
	font-weight:bold;
}
.Body-container5-2-4 i
{
	font-size:25px;
	background:var(--colorOrange);
	padding:10px;
	border-radius:5px;
}
.c3:hover .Body-container5-2-4
{
	opacity:100%;
	transition:1s;
}
.c4
{
	background:url('../Images/b4-1-560x550.jpg') no-repeat 0px 0px /101%;
}
.c5
{
	background:url('../Images/b5-1-560x550.jpg') no-repeat 0px 0px /101%;
}
.c6
{
	background:url('../Images/b6-1-560x550.jpg') no-repeat 0px 0px /101%;
}
.c4:hover .Body-container5-2-2
{
	opacity:100%;
	transition:1s;
}
.c5:hover .Body-container5-2-3
{
	opacity:100%;
	transition:1s;
}
.c6:hover .Body-container5-2-4
{
	opacity:100%;
	transition:1s;
}
/*.......container6........*/
.Body-container6
{
	background:url('../Images/video-1.jpg') no-repeat 0px 0px /105%;
	height:410px;
	margin-top:100px;
	padding-top: 160px;
}
.Body-container6 i
{
	color:var(--colorWhite);
	background:var(--colorOrange);
	width:50px;
	height:50px;
	font-size:30px;
	padding:26px 2px 4px 35px;
	border-radius:50%;
}
.Body-container6-1
{
	width:140px;
	height:140px;
	background:var(--colorVLOrange);
	border-radius:50%;
	margin: 0px 10px 0px 600px;
	padding: 67px 16px 10px 60px;
}
.Body-container6 h2
{
	color:var(--colorOrange);
	font-family: 'Poppis';
	font-size:35px;
	padding-left: 535px;
}
.d1
{
	background:url('../Images/t1.jpg') no-repeat 0px 0px /105%;
}
.d2
{
	background:url('../Images/t2.jpg') no-repeat 0px 0px /105%;
}
.d3
{
	background:url('../Images/t3.jpg') no-repeat 0px 0px /105%;
}
.d4
{
	background:url('../Images/t4.jpg') no-repeat 0px 0px /105%;
}
.d5
{
	background:url('../Images/t5.jpg') no-repeat 0px 0px /105%;
}
.d6
{
	background:url('../Images/t6.jpg') no-repeat 0px 0px /105%;
}

/*.......container7........*/
.Body-container7-1
{
	padding-left: 160px;
    margin-top: 50px;
}
.A1
{
	margin-top:30px;
}
.Body-container7-1-1
{
	width:330px;
	height:350px;
	float:left;
	margin-right:25px;
}
.Body-container7-1-2 
{
	text-align:center;
	background:var(--colorLWhite);
	width: 94%;
    margin: 10px;
    height: 95%;
	opacity:0%;
}
.Body-container7-1-2:hover
{
	opacity:100%;
	transition:1s;
}
.Body-container7-1-2 h3
{
	font-family: 'Poppis';
	text-transform:uppercase;
	color:var(--colorDeepBlue);
	padding-top: 123px;
}
.Body-container7-1-2 h4
{
	text-transform:uppercase;
	color:var(--colorGray);
}
.Body-container7-1-2 i
{
	padding:0px;
	font-size:20px;
	margin-top:5px;
	color:var(--colorGray);
}
.Body-container7-1-2-icons
{
	width:30px;
	height:30px;
	border-radius:50%;
	float:left;
	border:1px solid var(--colorGray);
	margin-right:7px;
}
.Body-container7-1-2-1
{
	margin: 10px 0px 0px 77px;

}
.Body-container7-line1
{
	width:70px;
	height:5px;
	background:var(--colorOrange);
}
.Body-container7-line2
{
	width:70px;
	height:5px;
	float:right;
	margin-top: 106px;
	background:var(--colorOrange);
}
/*.......container8........*/
.Body-container8
{
 text-align:center;
 background:var(--colorOrange);
 padding: 20px 0px;
 margin-top:100px;
}
.Body-container8 img
{
	width:230px;
	padding:30px 0px;
}
/*.......container9........*/
.Body-container9
{
	margin-top:100px;
	margin-bottom:100px;
}
.Body-container9-1
{
	width:350px;
	height:480px;
	background:url('../Images/contact.jpg') no-repeat -100px 0px /220%;
	float:left;
	margin-left: 100px;
}
.Body-container9-1-1
{
	width:100%;
	height:100%;
	background:var(--colorLBlue);
	text-align:center;
}
.Body-container9-1-1 h3
{
	color:var(--colorOrange);
	text-transform:uppercase;
	font-family: 'Poppis';
	padding-top:25%;
}
.Body-container9-1-1 h2
{
	color:var(--colorWhite);
	text-transform:capitalize;
	font-family: 'Poppis';
	line-height:50px;
	font-size:27px;
	margin-bottom:60px;
}
.Body-container9-1-1 a
{
	color:var(--colorWhite);
	background:var(--colorOrange);
	padding:15px 30px;
	border-radius:5px;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
}
.Body-container9-1-1 a:hover
{
	background:var(--colorWhite);
	color:var(--colorOrange);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}
.Body-container9-2
{
	width:780px;
	height:470px;
	box-shadow:0px 0px 50px var(--colorLBlack);
	margin-left:20px;
	float:left;
}
.Body-container9-2 iframe
{
	width:100%;
	height:100%;
	border:10px solid var(--colorWhite);
}

/*.......container10........*/
.Body-container10
{
	background:var(--colorOrange);
	text-align:center;
	color:var(--colorWhite);
	font-size:20px;
	padding: 100px 150px 100px 150px;
}
.Body-container10 h3
{
	font-size:22px;
	text-transform:capitalize;
	font-family: 'Poppis';
}
.Body-container10-p
{
	font-size: 18px;
    margin-top: 10px;
    padding: 0px 110px;
}
.Body-container10 h2
{
	font-size:35px;
	text-transform:capitalize;
	font-family: 'Poppis';
}
.Body-container10-1
{
	 background:var(--colorWhite);
	 text-align:left;
	 padding:20px;
	 float:left;
	 width:450px;
	 margin-left:30px;
	 margin-top: 70px;
}
.Body-container10-1-1
{
	float:left;
	margin-left: 10px;
}
.Body-container10-1 img
{
	float:left;
	width:70px;
}
.Body-container10-1 p
{
	color:var(--colorGray);
	font-size:15px;
	margin-top:25px;
	line-height:25px;
	font-weight:bold;
	margin-bottom:20px;
}
.Body-container10-1 i
{
	color:var(--colorOrange);
	font-size:25px;
}
.Body-container10-1-1 h3
{
	color:var(--colorOrange);
	font-size:20px;
}
.Body-container10-1-1 h5
{
	color:var(--colorOrange);
	font-weight:bold;
}

/*.......container12........*/
.Body-container11
{
	text-align:center;
}
.Body-container11 h2,.Body-container13 h2
{
	color:var(--colorDeepBlue);
	font-family: 'Poppis';
	font-size:35px;
	margin-top:100px;
}
.Body-container11 p,.Body-container13 p
{
	color:var(--colorGray);
	font-weight:bold;
	padding:20px 200px;
}
.Body-container11-1
{
	float:left;
	margin-top:10px;
	margin-left:210px;
}
.Body-container11-1 h3
{
	color:var(--colorDeepBlue);
	font-weight:bold;
	margin-top:5px;
}
.Body-container11-1 i
{
	font-size:45px;
	color:var(--colorOrange);
	margin-top:10px;
	margin-bottom:15px;
}
.Body-container11-2
{
	margin: 0px auto;
    width: 80%;
	margin-top:70px;
	border-radius:5px;
	box-shadow:10px 10px 50px var(--colorLgray);
	padding-top:30px;
	padding-bottom:30px;
}
.Body-container11-2-1 input,.selectbox
{
	color:var(--colorLWhite);
	background:var(--colorOrange);
	width:474px;
	margin-left: 5px;
    margin-right: 5px;
	height:40px;
	padding:0px 20px;
	margin-top:20px;
	border:1px ;
	border-radius:5px;
	font-size:18px;
}
.selectbox
{
	width:513px;
}
.selectbox option
{
	background:var(--colorWhite);
	color:var(--colorOrange);
}
.Body-container11-2-1 input,.Body-container11-2 input::placeholder
{
  color:var(--colorLWhite);
}
 .input
{
	color:red;
	background:var(--colorOrange);
	width:1000px;
	padding:0px 20px;
	margin-top:30px;
	border:1px ;
	border-radius:5px;
	font-size:18px;
	height:150px;
	margin-bottom:40px;
}
.Body-container11-2 a
{
	color:var(--colorWhite);
	background:var(--colorOrange);
	text-decoration:none;
	font-weight:bold;
	padding:10px 80px;
	border-radius:5px;
}
.Body-container11-2 a:hover
{
	background:var(--colorDeepBlue);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}

/*.......container12........*/
.Body-container12 
{
	margin:100px 0px;
}
.Body-container12 img
{
	width:240px;
	margin-right:20px;
	padding-left:10px;
}
/*.......container13........*/
.Body-container13
{
	text-align:center;
	padding: 0px 130px;
}
.Body-container13-1
{
	width:330px;
	height:310px;
	float:left;
	margin-top:30px;
	margin-left:15px;
	margin-right:15px;
	box-shadow: 0px 0px 5px var(--colorGray);
}
.B1
{
	background:url('../Images/b2-1-390x290.jpg') no-repeat 0px 0px/100%;
}
.B2
{
	background:url('../Images/b3-1-390x290.jpg') no-repeat 0px 0px/100%;
}
.B3
{
	background:url('../Images/b4-1-390x290.jpg') no-repeat 0px 0px/100%;
}
.Body-container13-1 h2
{
	color:var(--colorWhite);
	background:var(--colorDOrange);
	font-size: 21px;
	padding: 10px 0px;
    font-family: 'Poppis';
    margin-top: 162px;
    margin-bottom: 20px;
	text-align:center;
}
.Body-container13-1 a
{
	color:var(--colorDeepBlue);
	font-weight:bold;
	text-decoration:none;
	padding: 30px 0px 2px 0px;
	font-size:18px;
}
.Body-container13-1  i
{
	color:var(--colorOrange);
}
.Body-container13-1 a:hover 
{
	color:var(--colorOrange);
	text-shadow: 5px 5px 10px ;
}
/*.......container14........*/
.Body-container14
{
	background:var(--colorOrange);
	padding: 60px 100px 50px 110px;
	margin-top:100px;
}
.Body-container14 h2
{
	color:var(--colorWhite);
    font-family: 'Poppis';
	font-size:40px;
	float:left;

}
.Body-container14 a
{
	color:var(--colorOrange);
	background:var(--colorWhite);
	text-decoration:none;
	font-weight:bold;
	margin-top:50px;
	margin-left:100px;
	border-radius:5px;
	padding:15px 35px;
}
.Body-container14 a:hover
{
	color:var(--colorWhite);
	background:var(--colorDeepBlue);
	box-shadow: 5px 5px 10px var(--colorBlack);
	transition:1s;
}
.Body-container14 div
{
	margin-top: 23px;
}
/*.......footer........*/
.footer
{
	background:var(--colorDBlue);
	padding-bottom:100px;
}
.footer1
{
	width:300px;
	margin-top:100px;
	background:var(--colorDBlue);
	float:left;
}
.footer1 h2
{
	color:var(--colorHWhite);
	font-size:30px;
    font-family: 'Poppis';
	margin-bottom:20px;
}
.footer1 a
{
	color:var(--colorLWhite);
	font-weight:bold;
	text-decoration:none;
	padding-bottom:15px;
}
.footer1 a:hover
{
	color:var(--colorOrange);
}
.footer-a
{
	
	margin-top:20px;
}
.footer1 i
{
	font-size:20px;
}
.footer1 input
{
	background:var(--colorDBlue);
	border:1px solid var(--colorGray);
	font-size:15px;
	padding:15px 20px 15px 10px;
}
.footer1 i:hover
{
	color:var(--colorOrange);
	background:var(--colorLWhite);
}
.f4 i
{
	color:var(--colorWhite);
	background:var(--colorOrange);
	padding: 12px 29px 16px 25px;
}
.f2
{
	margin-right:0px;
	margin-left:100px;
}
.bottom
{
	border-top:1px solid var(--colorGray);
	background:var(--colorDBlue);
	padding:30px 100px;
}
.bottom1
{
	float:right;
}
.bottom a
{
	color:var(--colorLWhite);
	font-weight:bold;
	text-decoration:none;
	margin-left:10px;
}
.bottom a:hover
{
	color:var(--colorOrange);
}